# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environments
venv/

# Build / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & Data
data/
logs/
*.log
  
# Secrets
.env
.env.local
.env.production

# IDE / Editor
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
desktop.ini
Thumbs.db

# Node
node_modules/

############################
#          Custom          #
############################
config/targets_for_spiderfoot.txt
external/
pipeline.lock